.xdebug-error-tab-container {
	position: fixed;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	background-color: #f2dede;
	overflow-x: hidden;
	transition: width 0.3s ease;
	z-index: 9999;
}

.xdebug-error-tab-container.open {
	width: 60%;
}

.xdebug-error-tab-toggle {
	position: absolute;
	right: 0;
	top: 150px;
	transform: translateY(-50%);
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	color: #a94442;
	padding: 10px;
	cursor: pointer;
}

.xdebug-error-list {
	padding: 0;
	list-style-type: none;
	margin-top: 20px;
}

.xdebug-error-list li {
	padding: 10px;
	border-bottom: 1px solid #ebccd1;
	white-space: pre-wrap;
	overflow-x: scroll;
}

// Overlay
.xdebug-error-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	z-index: 9998;
}

.xdebug-error-overlay.visible {
	opacity: 1;
	visibility: visible;
}